.part{
    margin-left: 800px;
    margin-top: 200px;
    background-color: cyan;
    width: 550px;
    padding: 30px;
}
.more{
    background-color:azure;
    width:400px;
    padding:50px;
    border-radius:10%;
    margin-left:20px;
    
}
.net{
    margin-top: 40px;
}
.note{
    margin-top: 20px;
}
#mail{
    padding:10px;
    width:300px;
}
#password{
    padding:10px;
    width:300px;
}
button{
    background-color: rgb(236, 121, 121);
    width:150px;
    height:50px;
    margin-left: 100px;
    border-radius: 10%;
    cursor:pointer;
    margin-top: 30px;
}
a{
    color: rgb(72, 110, 238);
}
h1{
    margin-left: 100px;
}
button:hover{
    transition:scale(2.0s,1.5s);
   background-color: rgb(60, 236, 178);
}
.now{
    margin-top: 40px;
    
}
p{
    margin-left: 40px;
    margin-top: 30px;
    font-size: 20px;
}